html, body {
  overscroll-behavior: none;
  user-select: none;

}

body {
  background: #25553c;
  margin: 0;
  height: 100dvh;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#app {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  gap: 10px;
  aspect-ratio: 0.6;
  max-width: 100%;
  margin: auto;
}

.left-side {
  flex: 1 1 0;
  min-width: 0;
  container-type: size;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wheel {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
  aspect-ratio: 1;
  border: 4cqw solid #6d370e;
  padding: 1cqw;
  gap: 2cqw;
  background: #f7de93;
  border-radius: 999px;
  overflow: clip;
  overflow-clip-margin: content-box;
  rotate: 45deg;

  .pie {
    color: #fff;
    background: #696146;
    position: relative;
    container-type: size;
    box-shadow: inset 0px 0px 1cqh rgba(0, 0, 0, 0.75);
    transition-duration: 200ms;

    &.winner {
      scale: 1.5;
      z-index: 2;
    }

    &.black { background: #000000; }
    &.red { background: #bb0010; }
    &.green { background: #098c4b; }
    &.half { background: #929b16; }
    &.dozen { background: #3800bb; }
    &.column { background: #8c5809; }

    --offsetX: 0px;
    --offsetY: 0px;

    &.right { --offsetX: -20%; }
    &.left { --offsetX: 20%; }
    &.top { --offsetY: 20%; }
    &.bottom { --offsetY: -20%; }

    .payout {
      transform: 
        rotate(-45deg) 
        translate(
          calc(-50% + var(--offsetX)),
          calc(-50% + var(--offsetY))
        );
      position: absolute;
      transform-origin: top left;
      top: 50%;
      left: 50%;
      width: 70%;
      aspect-ratio: 1;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20cqh;
      line-height: 1;
    }
  }
}

.player-stash {
  align-self: center;


  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.chip {
  display: inline-flex;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 999px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border: 6px solid #122a72;
  position: relative;
  font-size: 13px;
  font-weight: 700;

  transition-duration: 200ms;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);

  &:before {
    content: '';
    display: block;
    position: absolute;
    inset: -6px;
    border: 2px dashed #fff;
    border-radius: inherit;
  }

  &:focus {
    transform: translateY(-5px);
    box-shadow: 5px 7px 3px rgba(0, 0, 0, 0.5);
  }
}

.table {
  flex: 1.2 1 0;
  min-width: 0;

  background: #fff;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid #fff;
  gap: 2px;
  border-radius: 22px;
  overflow: hidden;
  container-type: size;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3.25cqh;

    &.red {
      background: #bb0010;
    }

    &.black {
      background: #000000;
    }

    &.green {
      background: #098c4b;
      grid-column: 1/-1;
      aspect-ratio: auto;
    }
  }
}